.outlet {
  width: 94vw;
  height: 88vh;
  margin: 0 auto;
  margin-top: 20px;
  z-index: 0;
}

.header {
  box-shadow: 0 2px 2px -2px black;
  position: sticky;
  z-index: 1;
}

.logo {
  height: 100%;
  width: 5%;
  margin-right: 0.5%;
}

.empresa {
  color: #14ac84;
  margin-top: 0.75%;
}


.h4-class {
  color: #14ac84;
}

.header-color {
  background-color: rgb(33, 33, 33);
  display: flex;
}

.h5-text {
  color: #14ac84;
  margin-left: auto;
  margin-top: 0.75%;
  font-size: 17px;
}
