.outlet {
  width: 94vw;
  height: 88vh;
  margin: 0 auto;
  margin-top: 20px;
  z-index: 0;
}

.header {
  box-shadow: 0 2px 2px -2px black;
  position: sticky;
  z-index: 1;
}

.footer-div {
  display: flex;
}

.footer-texto {
  position: absolute;
  bottom: 0;
  // position: absolute;
  // bottom: 0;
  
  // //justify-content: center;
  // align-items: center;
  // padding: 20px;
  // font-size: large;
  // color: #14ac84;
  // background-color: rgb(33, 33, 33);
  // //margin-top: auto;
  
}

.logo {
  height: 100%;
  width: 5%;
  margin-right: 0.5%;
}

.empresa {
  color: #14ac84;
}

.header-color {
  background-color: rgb(33, 33, 33);
}