<div class="wrap">
  <div class="left-box-title">
    <div>
      <mat-card>
        <mat-card-title>Mapa</mat-card-title>
      </mat-card>
    </div>
    <div class="left-box-content">
      <mat-card>
        <div class="map-frame">
          <div id="map"></div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="right-box-title">
    <div>
      <mat-card>
        <mat-card-title>Mapa</mat-card-title>
      </mat-card>
    </div>
    <div class="right-box-content">
      <mat-card></mat-card>
    </div>
  </div>
</div>
