.wrap {
  width: 100%;
  display: inline-flex;
  margin: 20px;
}

.left-box-title {
  width: 60%;
  border: 20px;
}

.right-box-title {
  width: 30%;
  margin-left: 60px;
}

.left-box-content, .right-box-content {
  margin-top: 20px;
  height: 70vh;
}

mat-card {
  width: 100%;
  height: 100%;
}

.map-frame {
  background-color: grey;
  height: 100%;
  border-radius: 5px;
}

#map {
  height: 100%;
  box-shadow: 0 3px 2px -2px black;
  border-radius: 5px;
}
