<div style="display: flex; flex-flow: column; height: 100%;">
  <mat-card>
    <div style="justify-content: stretch;">
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Tipo</mat-label>
          <input type="text"
                  placeholder="Selecciona una"
                  aria-label="Tipo"
                  matInput
                  [formControl]="myControl"
                  [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <div class="div-button-style">
      <button mat-button (click)="updateMap()" class="button-style">Buscar</button>
    </div>
  </mat-card>
  <mat-card style="margin-top: 10px; flex-grow: 1; overflow-y: scroll;">
    <mat-card style="height: 60px; margin-bottom: 10px;">
      <mat-card-title>Nombre</mat-card-title>
      <mat-card-content>hola</mat-card-content>
    </mat-card>
    <mat-card style="height: 60px; margin-bottom: 10px;">
      <mat-card-title>Nombre</mat-card-title>
      <mat-card-content>hola</mat-card-content>
    </mat-card>
    <mat-card style="height: 60px; margin-bottom: 10px;">
      <mat-card-title>Nombre</mat-card-title>
      <mat-card-content>hola</mat-card-content>
    </mat-card>
    <mat-card style="height: 60px; margin-bottom: 10px;">
      <mat-card-title>Nombre</mat-card-title>
      <mat-card-content>hola</mat-card-content>
    </mat-card>
    <mat-card style="height: 60px; margin-bottom: 10px;">
      <mat-card-title>Nombre</mat-card-title>
      <mat-card-content>hola</mat-card-content>
    </mat-card>

  </mat-card>
</div>

