.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-card-title {
  font-size: 14px;
}

.mat-card-content {
  font-size: 13px;
}

.div-button-style {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-style {
  border: 1px solid #8a8989;
  background-color: #ecebeba3;
}
